assignments/assignment2/dac/test.txt
assignments/assignment2/dac/train.txt
assignments/assignment2/dac/train.txt_index.csv
assignments/assignment2/dac/train_backup.txt
assignments/assignment2/dac/
assignments/assignment2/dac.tar.gz
