assignments/assignment2/dac/test.txt
assignments/assignment2/dac/train.txt
assignments/assignment2/dac/train.txt_index.csv
assignments/assignment2/dac/train_backup.txt
assignments/assignment2/dac/
assignments/assignment2/dac.tar.gz
assignments/assignment2/backup/
assignments/assignment3/tiny-imagenet-200/
assignments/assignment3/tiny-imagenet-5/
assgnments/assignment4/data/
